<% provide(:title, @title) %>

<% @notes.each do |note| %>
  <div class="row entry-overview">
    <div class="span2 date"><%= raw format_timestamp(note[:created]).split.join('<br/>') %></div>
    <div class="span7">
      <strong><%= link_to(note[:title], note_path(created: note[:created]/1000, trailing_slash: true)) %></strong>
      <br/><%= note[:snippet] %> ...
    </div>
  </div>
<% end %>

<br/>

<div class="row">
<div class="offset3 span4">
<% if @page > 1 %>
<a href="#">« Previous</a>
<% else %>
« Previous
<% end %>
 — 
<strong><%= @page %></strong>
 — 
<% if @has_next %>
<a href="#">Next »</a>
<% else %>
Next »
<% end %>
</div>
</div>