// Example using journal bootswatch

// First import bootswatch variables
@import "bootswatch/journal/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/journal/bootswatch";

// Other self-defined styles goes below
div.entry-overview {
  margin-bottom: 25px;
}

div.date {
  text-align: right;
  color: $gray;
}

div.bordered {
  border-style: none dashed;
  border-width: 1px;
  border-color: $grayLight
}