<br/><br/><hr/>
<footer class="footer">
&copy; 2012 <a href="http://tylerlong.me" target="_blank">Tyler Long</a> all rights reserved.
<span class="pull-right">
Contact me via: <%= CONFIG['footer_links'].map { |link| link_to(link['text'], link['url'], target: '_blank') }.join(', ').html_safe %>.
</span>
</footer>